@using SwapIt.Models
@model SwapIt.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Model.UseAdModels = new ApplicationDbContext().AdModels;
}

<h2>@User.Identity.Name.ToString()</h2>

<p>
    @Html.ActionLink("Create New", "Create", "AdModels")
</p>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UseAdModels.GetEnumerator().Current.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseAdModels.GetEnumerator().Current.Description)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model.UseAdModels)
        {
            if (item.Owner == User.Identity.Name.ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href='@Url.Action("Edit", "AdModels", new {id = item.AdId})'> Edit</a>
                            <a class="btn btn-info" href='@Url.Action("Details", "AdModels", new {id = item.AdId})'> Details</a>
                            <a class="btn btn-info" href='@Url.Action("Delete", "AdModels", new {id = item.AdId})'> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }

    </table>

</div>
