@using SwapIt.Models
@model SwapIt.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var item = new ApplicationDbContext().AdModels.ToList();
    var i = 0;
}
<h2>@User.Identity.Name</h2>

<p>
    <a class="btn btn-info" href='@Url.Action("Create", "Manage")'>Create New Ad</a>
</p>

<p class="text-success">@ViewBag.StatusMessage</p>
<body>
@{
    while (true)
    {
        <div class="row">
        @{
            if (item[i].Owner == User.Identity.Name)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ad-area"
                         onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                        <div class="ad-name">
                            @item[i].Name
                        </div>
                        <div class="ad-description">
                            @item[i].Description
                        </div>
                    </div>
                </div>
            }
            i++;
            if (i >= item.Count)
            {
                break;
            }
        }
        @{
            if (item[i].Owner == User.Identity.Name)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ad-area"
                         onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                        <div class="ad-name">
                            @item[i].Name
                        </div>
                        <div class="ad-description">
                            @item[i].Description
                        </div>
                        
                    </div>
                </div>

            }
            i++;
            if (i >= item.Count)
            {
                break;
            }
        }@{
            if (item[i].Owner == User.Identity.Name)
            {
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="ad-area"
                          onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                         <div class="ad-name">
                             @item[i].Name
                         </div>
                         <div class="ad-description">
                             @item[i].Description
                         </div>
                     </div>
                 </div>
            }
            i++;
            if (i >= item.Count)
            {
                break;
            }
         }
        </div>
            }
}
</body>