@using SwapIt.Models
@model IEnumerable<SwapIt.Models.AdModel>

@{
    List<AdModel> item = new ApplicationDbContext().AdModels.ToList();
    ViewBag.Title = "Index";
    int i = 0;
}
<body>
    @{
        while (true)
        {
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ad-area"
                         onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                        <div class="ad-name">
                            @item[i].Name
                        </div>
                        <div class="ad-description">
                            @item[i].Description
                        </div>
                        <div class="ad-owner">
                            @item[i].Owner
                        </div>
                        @{i++;
                            if (i >= item.Count)
                            {
                                break;
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ad-area"
                         onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                        <div class="ad-name">
                            @item[i].Name
                        </div>
                        <div class="ad-description">
                            @item[i].Description
                        </div>
                        <div class="ad-owner">
                            @item[i].Owner
                        </div>
                        @{i++;
                            if (i >= item.Count)
                            {
                                break;
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ad-area"
                         onclick="location.href = '@(Url.Action("Details", "AdModels", new {id = item[i].AdId}))'">
                        <div class="ad-name">
                            @item[i].Name
                        </div>
                        <div class="ad-description">
                            @item[i].Description
                        </div>
                        <div class="ad-owner">
                            @item[i].Owner
                        </div>
                        @{i++;
                            if (i >= item.Count)
                            {
                                break;
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
</body>

